/****************************
**      AntonVoronezh
****************************/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container--footer {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    /* border: 1px solid #000000; */
}

.footer-links {
    flex-basis: 380px;
    /* border: 1px solid #000000; */
}

.signature {
    /* border: 1px solid #000000; */
}