/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'robotolight', Arial, Helvetica, sans-serif;
}

.wrapper {
    min-width: 1200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex: 1;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}