.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 1px solid #cccccc;
}

.container {
    margin: 10px;
    border: 1px solid #cccccc;
    text-align: center;
}


/* выпадающее меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown__menu {
    /* display: block; без анимации*/
    /* для анимации*/
    left: 0;
    opacity: 1;
}

.dropdown__menu {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    top: 100%;
    border: 1px solid #000000;
    width: 300px;
    /* display: none; без анимации */
    margin-top: 20px;
    /* для анимации*/
    left: -9999px;
    opacity: 0;
    transition: opacity 1s;
}

.dropdown__menu:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}
/* конец выпадающее меню */

/* спрайт */
.icon {
    width: 20px;
    height: 18px;
    background-color: #ccc;
    position: relative;
    border-radius: 50%;
    padding: 10px;
}
.icon:hover:before {
    opacity: 1;
}
.icon:hover:after {
    opacity: 0;
}

.icon:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 18px;
    background: url('../airplanet/img/social-icon/spritesheet.png') -183px -10px;
    transition: opacity 2s;
}

.icon:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 18px;
    background: url('../airplanet/img/social-icon/spritesheet.png') -220px -10px;
    opacity: 0;
    transition: opacity 2s;
}

.icon:hover:after { 
    background-position: -220px -10px;
}
/* конец спрайт */

/*  элементы форм */
.input:checked ~.input__visible {
    background: red;
}

.input {
    display: none;
}

.input__visible {
    width: 50px;
    height: 50px;
background: blue;

}
/* конец  элементы форм */

/* начало чекбокс */
/* Скрываем реальный чекбокс */
.checkbox {
	display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
	position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 20px;             /* Обязательно задаем ширину */
	height: 20px;            /* Обязательно задаем высоту */
	border: 2px solid #ccc;
	border-radius: 3px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
	border-radius: 2px;
}
/* конеу чекбокс */

/* начало радокнопки */
.checkbox,
.radio {
	display: none;
}
.checkbox-custom,
.radio-custom {
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 3px;
	position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;
	border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
}
/* конец радиокнопки */