/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.page {
    align-content: center;
}

/* start header*/

.header {
    height: 76px;
    width: 1100px;
    background: #4b73b5;
}

/* end header */

/* start sidebar icons */

.icon-main {
    background-image: url('../img/sidebar-icons/main_icon.png');
}

a:hover>.icon-main {
    background-image: url('../img/sidebar-icons/main_icon-black.png');
}

.icon-comments {
    background-image: url('../img/sidebar-icons/feed_icon.png');
}

a:hover>.icon-comments {
    background-image: url('../img/sidebar-icons/feed_icon-black.png');
}

.icon-crew {
    background-image: url('../img/sidebar-icons/team_icon.png');
}

a:hover>.icon-crew {
    background-image: url('../img/sidebar-icons/team_icon-black.png');
}

.menu__icon {
    background-repeat: no-repeat;
    width: 17pt;
    height: 17pt;
}

/* end sidebar icons */

/* start tariffs icons */

.icon-standart {
    background: #4b73b5;
    background-image: url('../img/tariffs-icon/flower.png');
}

.icon-premium {
    background: #4b73b5;
    background-image: url('../img/tariffs-icon/star.png');
}

.icon-laksheri {
    background: #4b73b5;
    background-image: url('../img/tariffs-icon/palette.png');
}

.tariffs__element {
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    width: 50pt;
    height: 50pt;
}

/* end tariffs icons */

/* start news icons */

.icon-premium {
    background-image: url('../img/news-img/1.png');
    
}

/* end news icons */