/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

/* start big blocks */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    min-height: 75px;
    width: 100%;
    background: #4b73b5;
}

.maincontent {
    height: 100%;
    margin-top: 12px;
}

.maincontent__aside {
    width: 200px;
    float: left;
}

.maincontent__container {
    width: 900px;
    float: right;
    vertical-align: top;
    text-align: top;
    margin-bottom: 65px;
}

.maincontent__sidebar {
    text-align: left;
}

.footer {
    clear: both;
    min-height: 75px;
    width: 100%;
    background: #4b73b5;
}

/* end big blocks */

/* start fonts */

@font-face {
    font-family: 'Roboto-Light_1';
    src: url('../css/fonts/Roboto-Light_1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold_1';
    src: url('../css/fonts/Roboto-Bold_1.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-LightItalic_1';
    src: url('../css/fonts/Roboto-LightItalic_1.ttf');
    font-weight: normal;
    font-style: italic;
}

/* end fonts */

* {
    font-family: Roboto-Light_1;
}

a {
    text-decoration: none;
}

/* start header */

.container>.logotype {
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}

.container>.headerinfo {
    float: right;
    margin-right: 20px;
    padding-top: 15px;
}

.phone {
    font-family: Roboto-Bold_1;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
}

.schedule__button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: Roboto-Light_1;
    font-size: 16px;
    font-weight: 500;
    padding-left: 70px;
    padding-right: 0;
    text-decoration: underline;
}

/* end header */

/* start aside*/

.menu {
    margin-left: 0px;
}

.menu__list {
    list-style: none;
    padding-left: 20px;
    margin-top: 35px;
}

.menu__item {
    vertical-align: top;
    overflow: auto;
    margin-top: 26px;
    margin-left: 0px;
}

.menu__icon {
    background-repeat: no-repeat;
    width: 17pt;
    height: 17pt;
    float: left;
    margin-left: 0px;
}

.menu__text {
    font-family: Roboto-Bold_1;
    letter-spacing: 3px;
    color: #4b73b5;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 35px;
}

a:hover>.menu__text {
    color: #000000;
}

.icon-main {
    background-image: url('../img/sidebar-icons/main_icon.png');
}

a:hover>.icon-main {
    background-image: url('../img/sidebar-icons/main_icon-black.png');
}

.icon-comments {
    background-image: url('../img/sidebar-icons/feed_icon.png');
}

a:hover>.icon-comments {
    background-image: url('../img/sidebar-icons/feed_icon-black.png');
}

.icon-crew {
    background-image: url('../img/sidebar-icons/team_icon.png');
}

a:hover>.icon-crew {
    background-image: url('../img/sidebar-icons/team_icon-black.png');
}

/* end aside */

/* start tariffs */

.big-photo {
    margin: 0px;
    padding: 0px;
}

.tariffs {
    margin: 0px;
    padding-right: 0px;
    text-align: top;
}

.title__h {
    font-family: Roboto-Bold_1;
    color: #221f1f;
    font-size: 49px;
    margin: 0px;
    padding: 0px;
}

.tariffs__elements {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
    padding: 0px;
    /* width: 100%; */
}

.tariffs__element-icon {
    width: 250px;
    margin-right: 6px;
    margin-left: 6px;
}

.tariffs__element {
    display: inline-block;
    text-align: center;
}

.tariffs__element-icon-all {
    margin-top: 40px;
    border-radius: 50%;
    width: 50pt;
    height: 50pt;
    display: inline-block;
}

.icon-standart {
    background: #4b73b5;
    background-image: url('../img/tariffs-icon/flower.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-premium {
    background: #4b73b5;
    background-image: url('../img/tariffs-icon/star.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-laksheri {
    background: #4b73b5;
    background-image: url('../img/tariffs-icon/palette.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.tariffs__element-items {
    text-align: left;
}

.tariffs__element-name {
    color: #212121;
    font-family: Roboto-Bold_1;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
}

.tariffs__element-description,
.tariffs__element-items {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    padding-top: 5px;
}

.tariffs__element-item {
    padding-top: 5px;
}

.tariffs__element-price {
    color: #212121;
    font-size: 54px;
    font-weight: bold;
    line-height: 57px;
    text-align: center;
    margin-top: 20px;
}

.dollar {
    color: #212121;
    font-size: 30px;
    font-weight: bold;
    line-height: 57px;
}

/* end tarifs */

/* start news */

.news {
    margin-top: 65px;
    margin-bottom: 15px;
}

.news__elements {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
    margin-top: 30px;
}

.news__element {
    clear: both;
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid #cccccc;
}

.news__element-picture {
    float: left;
}

.news__element-description {
    margin-left: 175px;
}

.news__element-date {
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
}

.news__element-header {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.news__element-text {
    font-size: 18px;
    line-height: 1.7;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    width: 650px;
}

/* end news */

/* start pagination */

.pagination {
    display: inline;
}

.pagination__display {
    display: inline;
    margin-left: 270px;
    font-size: 14px;
    margin-right: 0px;
}

.pagination__elements {
    list-style: none;
    display: inline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    padding-left: 0px;
}

.pagination__element {
    display: inline-block;
    padding-left: 4px;
}

.pagination__element-wrap {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-align: center;
    border-radius: 10%;
    color: #000000;
}

a:hover>.pagination__element-wrap {
    background: #4b73b5;
    color: #ffffff;
}

/* end pagination */

/* start footer */

.footer__signature {
    float: left;
    width: 234x;
    height: 50px;
    margin-top: 5px;
    font-family: Roboto-Light_1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    margin-left: 15px;
}

.footer>.container>.logotype {
    display: inline;
    margin-left: 245px;
}

.logotype__link {
    margin: 0px;
    padding: 0px;
}

.footer__social {
    float: right;
    /* display: inline-block; */
}

.footer__social-text {
    font-family: Roboto-Light_1;
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 25px;
}

.footer__social-pictures {
    margin-top: 10px;
}

.social-pictures-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.social-pictures-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #d2def3;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
}

a:hover>.social-pictures-item {
    background: #fff;
}

/* end footer */