/****************************
**      AntonVoronezh
****************************/

.header--index {

}

.maincontent--index {
    /* border: 1px solid #cccccc; */
    height: 100%;
}

.aside--index {
    /* border: 1px solid #000000; */
    padding-top: 60px;
}

.main--index {
    /* border: 1px solid #000000; */
    padding-right: 50px;
}

.footer--index {}