/****************************
**      AntonVoronezh
****************************/

.post {
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 60px;
}

.post__photo {
    width: 100%;
}

.post__title {
    margin-top: 20px;
    margin-bottom: 50px;
}

.post__text {
    margin-bottom: 30px;
}

.post__more {
    margin-bottom: 10px;
    border: 3px solid #cccccc;
    border-radius: 35px;
    padding: 10px;
    transition: border 1.5s;
}

.post__more:hover {
    margin-bottom: 10px;
    border: 3px solid #339933;
    border-radius: 35px;
    padding: 10px;
}

.post__link {
    margin-top: 30px;
    font-family: 'Open Sans Bold';
    text-decoration: none;
    color: #cccccc;
    transition: color 1.5s;
}

.post__link:hover {
    margin-top: 30px;
    font-family: 'Open Sans Bold';
    text-decoration: none;
    color: #339933;
}
