/****************************
**      AntonVoronezh
****************************/

.introducing {
    padding-top: 60px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    /* border: 1px solid #000000; */
}

.introducing-img {
width: 40%;
/* border: 1px solid #000000; */
}

.introducing-text {
width: 40%;
/* border: 1px solid #000000; */
}