/****************************
**      AntonVoronezh
****************************/

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #606060;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid #000000; */
}

.wrapper__content {
    flex: 1 0 auto;
    /* border: 1px solid #000000; */
}

.footer {
    /* border: 1px solid #000000; */
    flex: 0 0 auto;
    min-height: 200px;
    background-color: #e0dbdb;
    border-top: 1px solid #cccccc;
    display: flex;
}

.container {
    width: 980px;
    margin: 0 auto;
    /* border: 1px solid #cccccc; */
}

.container--header {
    /* border: 1px solid #42cbf4; */
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.container--maincontent {
    border: 1px solid #cccccc;
    padding: 0;
    display: flex;
    flex-grow: 1;
}

.container--footer {
    /* border: 1px solid #42cbf4; */
}

.header {
    /* border: 1px solid #ffffff; */
    min-height: 120px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
}

.maincontent {
    /* border: 1px solid #000000; */
}

.aside {
    /* border: 1px solid #f441ca; */
    width: 30%;
}

.main {
    /* border: 1px solid #f441ca; */
    width: 70%;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}