/****************************
**      AntonVoronezh
****************************/

@font-face {
    font-family: 'TitilliumWeb';
    src: url('fonts/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light_1-webfont.woff2') format('woff2'), url('../css/fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */


/* <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
font-family: 'Merriweather', serif; */