/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.header {
    width: 100%;
    background: #4b73b5;
    margin-bottom: 13px;
}

.container--header {
    min-height: 77px;
    display: flex;
    align-items: center;
}

.header__logo {
    padding-top: 10px;
    padding-left: 20px;
}

.header__right {
    margin-left: auto;
}

.headerinfo {
    padding-top: 5px;
    padding-right: 20px;
}

.headerinfo__phone {
    text-align: right;
}

.headerinfo__phone-link {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

.headerinfo__schedule {
    text-align: right;
    padding: 0px;
    position: relative;
}

.headerinfo__schedule-button {
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
    padding-top: 5px;
    
}

.headerinfo__schedule-info {
    transition: opacity 1.5s;
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 150px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 5px;
    padding: 10px;
}



.headerinfo__schedule:hover .headerinfo__schedule-info {
    opacity: 1;
}

.headerinfo__schedule-working {
    color: #4b73b5;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.headerinfo__schedule-lunch {
    color: #000000;
    font-size: 14px;
    font-style: normal;
}