/****************************
**      AntonVoronezh
****************************/

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    /* подключить  шрифт*/
    font-family: 'RobotoCondensed-Regular', sans-serif;
    font-size: 14;
    line-height: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* --------------- reset.css --------------- */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline;
    /* приводим все к одной базовой линии */
    background: transparent;
    /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%;
    /* размер шрифта всем одинаковый */
}

a {
    /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
}

table {
    /* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}

td,
td img {
    vertical-align: top;
    /* возвращаем привычное вертикальное выравнивание */
}

input,
select,
button,
textarea {
    margin: 0;
    /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font: inherit;
    font-size: 100%;
    /* делаем размер шрифтов везде одинаковым */
    outline: none;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0;
    /* убираем внутренние отступы для текстовых полей */
    font: inherit;
}

input[type="checkbox"] {
    /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

a,
a:visited {
    /* порядок правил для ссылок имеет значение */
    color: #4e4e4e;
    text-decoration: none;
}

a:hover {
    color: #1abb9c;
    text-decoration: none;
}

a:focus,
a:active {
    color: #03fa03;
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.clr {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* --------------- /базовые настройки ---------*/

/* ------------/дополнительно--------------- */

a {
    transition: color 0.5s;
}

input,
select,
button,
textarea,
div {
    transition: color 1.1s, border 1.1s, background-color 1.1s;
}

img {
    transition: opacity 1.1s;
}

.content-box-component {
    box-sizing: content-box;
}

address {
    font-style: inherit;
}