/****************************
**      AntonVoronezh
****************************/

.wrapper {
    overflow: hidden;
    min-width: 1170px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000000; */
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    /* border: 1px solid #cccccc; */
}

.wrapper__content {
    flex: 1 0 auto;
    /* border: 1px solid #000000; */
}

.header {
    min-height: 130px;
    /* border: 1px solid #000000; */
}

.header-bottom {
    min-height: 600px;
    background-image: url('../../../img/technical/Layer_1.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-top {
    min-height: 230px;
    background-color: #f0f0f0;
}
.footer {
    flex: 0 0 auto;
    min-height: 460px;
    box-shadow: inset 0 9px 0 rgba(0, 0, 0, 0.22);
    background-color: #1c1c1c;
    /* border: 1px solid #000000; */
}

.maincontent {
    height: 100%;
    /* border: 1px solid #e20b0b; */
}