/****************************
**      AntonVoronezh
****************************/

.works-pic-small {
    /* width: 90%; */
    margin-top: 60px;
    margin-bottom: 90px;
    display: flex;
    justify-content:space-evenly;
}
.works-pic-small-wrap {
    width: 200px;
    height: 150px;
    overflow: hidden; 
}

.works-pic-small__img {
    width: 200px;
    height: 150px;
    border: 1px solid #73879c;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.works-pic-small__img:hover {
    width: 200px;
    height: 150px;
    border: 1px solid #73879c;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}