/****************************
**      AntonVoronezh
****************************/

.maincontent {
    /* border: 1px solid #e20b0b; */
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid #f441ca; */
}

.get,
.introducing,
.about,
.browse {
    width: 100%;
    /* border: 1px solid #000000; */
}