/****************************
**
**      AntonVoronezh
**
****************************/

.main__bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.main {
/* flex: 1; */
}

.aside {
    width: 500px;
}