/****************************
**
**      AntonVoronezh
**
****************************/

.navigation {
    margin-top: 30px;
    width: 100%;
}

.navigation__list {
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.navigation__item {
padding: 10px;
border: 1px solid #f3f3f3;
border-bottom: 3px solid #9dc5f0;
flex: 1;
text-align: center;
}

.navigation__item:hover {
    border-bottom: 3px solid transparent;  
}

.navigation__link {
color: #555555;
}

.navigation__link:hover {
    color: #000000;
    }
    


