.sands {
    position: fixed;
    left: 0;
    height: 100%;
    width: 6122px;
    background: url('sand.jpg') bottom left repeat-x;
    animation: bg 90s linear infinite;
}

@keyframes bg {
    from {
        transform: translate(0)
    }
    to {
        transform: translate(-3056px)
    }
}