/****************************
**
**      AntonVoronezh
**
****************************/

@font-face {
    font-family: 'TitilliumWeb';
    src: url('fonts/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

