/****************************
**      AntonVoronezh
****************************/

.container--footer {
    /* border: 1px solid #000000; */
    display: flex;
    margin: auto;
    flex-direction: column;
    /* flex-grow: 1; */
}

.logo--footer {
    /* flex-grow: 1; */
    /* border: 1px solid #000000; */
    width: 0;
    padding: 0;
    text-align: center;
    display: flex;
    margin: auto;
}

.footer__text {
    display: flex;
    margin: auto;
    padding-top: 20px;
}