/****************************
**      AntonVoronezh
****************************/

.footer--container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: #ffffff;
}

.address {
    /* border: 1px solid #ffffff; */
    width: 38%;
    padding-top: 25px;
    font-size: 14px;
    line-height: 1.5;
}

.social {
    /* border: 1px solid #ffffff; */
    width: 38%;
    padding-top: 30px;
}

.signature {
    /* border: 1px solid #ffffff; */
    width: 23%;
    padding-top: 30px;
}

.address__text,
.social__title,
.signature__title {
    text-transform: uppercase;
}

.social__title,
.signature__title {
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.social,
.signature {
    text-align: center;
}

.social__list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item {
    width: 50px;
    height: 50px;
    /* border: 1px solid #ffffff; */
    background-color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.social__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../img/icons/css_sprites.png');
    background-repeat: no-repeat;
    display: block;
}

.social__block--vk {
    width: 27px;
    height: 15px;
    background-position: -300px -10px;
}

.social__block--fb {
    width: 11px;
    height: 22px;
    background-position: -131px -10px;
}

.social__block--inst {
    width: 20px;
    height: 20px;
    background-position: -162px -10px;
}

.signature__block {
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    /* width: 150px;
    height: 50px; */
    background-color: #000000;
}