/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.footer__social {
    margin-top: 10px;
}

.social-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.social-item {
    display: inline-block;
    margin-right: 5px;
}

.social-icon {
    background: #d2def3;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

a:hover>.social-icon {
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-icon--vk {
    background-image: url('../../img/social-icon/vk.png');
}

a:hover>.social-icon--vk {
    background-image: url('../../img/social-icon/vk.png');
}

.social-icon--fb {
    background-image: url('../../img/social-icon/fb.png');
}

a:hover>.social-icon--fb {
    background-image: url('../../img/social-icon/fb.png');
}

.social-icon--google {
    background-image: url('../../img/social-icon/google.png');
}

a:hover>.social-icon--google {
    background-image: url('../../img/social-icon/google.png');
}

.social-icon--twitter {
    background-image: url('../../img/social-icon/twitter.png');
}

a:hover>.social-icon--twitter {
    background-image: url('../../img/social-icon/twitter.png');
}

.social-icon--mail {
    background-image: url('../../img/social-icon/mail.png');
}

a:hover>.social-icon--mail {
    background-image: url('../../img/social-icon/mail.png');
}