/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.container--maincontent {
    display: flex;
    min-height: 200px;
    margin-top: 30px;
}

.main {
    width: 900px;
    padding-left: 10px;
}