/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.aside {
    width: 350px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
}