/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.team {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.title-h--team {
    margin-top: 25px;
    font-size: 50px;
}

.team__list {
    margin-top: 35px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team__person {
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: center;
}

.team__person-header {
    margin-top: 20px;
    font-size: 17px;
}

.team__person-profession {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #4b73b5;
}

.team__person-description {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.5;
}

.team__person-img {
    width: 160px;
    height: 160px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-left: 50px;
}

.team__person-img-title {
    position: absolute;
    top: 70px;
    left: 50px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.team__person-img-content {
    display: block;
    height: 100%;
}

.team__person-img:hover {
    transition: filter 1s;
    filter: grayscale(0%);
    display: block;
    height: 100%;
}

.team__person-img:hover>.team__person-img-title {
    transition: opacity 1s;
    opacity: 0;
}