/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.team {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.team--bottom {
    margin-top: 0px; 
}

.team__list-top {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.person {
    display: flex;
    flex-direction: column;
    width: 265px;
    text-align: center;
}

.person__header {
    margin-top: 20px;
    font-size: 18px;
}

.person__profession {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #4b73b5;
}

.person__description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
}

.person__img {
    width: 160px;
    height: 160px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    background: #000000;
    margin-left: 50px;
}

.person__img-title {
    position: absolute;
    top: 75px;
    left: 50px;
    /* top: auto; */
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.person__img-content {
    opacity: 0.45;
}

.person__img-content:hover {
    opacity: 1;
}

.person__img:hover>.person__img-title {
    opacity: 0;
}