/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

.breadcrumbs {
    margin-top: 30px;
    margin-bottom: 25px;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    color: #4b73b5;
    font-size: 14px;
}

.breadcrumbs__item--black {
    color: #000;
    font-style: italic;
}

.breadcrumbs--slash {
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumbs__link {
    color: #4b73b5;
    font-style: italic;
}