/****************************
**
** LoftSchool project #1
** AntonVoronezh
**
****************************/

@font-face {
    font-family: 'opensans';
    src: url('fonts/GothaProLig.otf');
    font-weight: normal;
    font-style: normal;
}